(
    selected_tab: Some("Reset"),
    command_fg: Some("#484f58"),
    selection_bg: Some("#ffffff"),
    selection_fg: Some("#000000"),
    selection_bold: Some(true),
    use_selection_fg: Some(true),
    cmdbar_bg: Some("#080808"),
    cmdbar_extra_lines_bg: Some("#080808"),
    disabled_fg: Some("#484f58"),
    diff_line_add: Some("#3fb950"),
    diff_line_delete: Some("#f85149"),
    diff_file_added: Some("#3fb950"),
    diff_file_removed: Some("#f85149"),
    diff_file_moved: Some("#bc8cff"),
    diff_file_modified: Some("#d29922"),
    commit_hash: Some("#bc8cff"),
    commit_time: Some("#79c0ff"),
    commit_author: Some("#3fb950"),
    danger_fg: Some("#f85149"),
    push_gauge_bg: Some("#58a6ff"),
    push_gauge_fg: Some("Reset"),
    tag_fg: Some("#bc8cff"),
    branch_fg: Some("#d29922"),
    syntax: Some("GitHubDark"),
)
