layout {
    default_tab_template {
        children

        pane size=1 borderless=true {
            plugin location="file:$HOME/.config/zellij/plugins/zjstatus.wasm" {
                format_left  " {tabs}"
                format_right "{mode}"
                format_space   ""

                pane_frames false

                mode_locked "#[fg=#24282d]lock" 
                mode_normal "#[fg=#24282d]nrml"
                mode_tab    "#[fg=#56d364]tabs"
                mode_pane "#[fg=#ffa657]pane"
                mode_tmux "#[fg=#24282d]tmux"
                mode_resize "#[fg=#79c0ff]rsze"
                mode_move "#[fg=#79c0ff]move"

                tab_normal   "#[fg=#24282d][{index}]{name} "
                tab_active   "#[fg=#24282d,bold]{name} "
            }
        }
    }
    tab name="main" focus=true {
      pane focus=true cwd="~"
    }
    tab name="nvim" focus=false {
      pane command="nvim" cwd="~/me/code/"
    }
}
