themes {
  micrographics {
    bg "#000000"
    fg "#ffffff"
    black "#000000"
    red "#ff3b2f"
    green "#999999"
    yellow "#ff3b2f"
    blue "#ffffff"
    magenta "#999999"
    cyan "#999999"
    white "#ffffff"
    orange "#ff3b2f"
  }
}
